/.idea/
/shelf/
/workspace.xml
/lockout-generator.iml
/triggers/
**/.DS_Store
**/__pycache__/

lockout-textures-v5/LockoutTextures-1.21.4-v4.2.zip
lockout-textures-v5/pack.png
lockout-textures-v5/assets/minecraft/textures
